@use 'src/styles/vars';

.currencies {
  max-height: 50vh;
  min-height: 10em;
  overflow-y: auto;
  color: vars.$colorBase;
  font-weight: 500;

  &-title {
    font-weight: bold;
    padding: 1rem;
  }
}
